{% load static %}
<head>
    <title>registration page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brad"><img src="../static/eventsp/Img/logo.svg" width="200" height="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResposive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResposive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Главная</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="logout" class="nav-link">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="register" class="nav-link">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a href="login" class="nav-link">Вход</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link">Справка</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 style="padding: 25px;background-color: #002ab2;"></h1>
{% block login %}
    <div class="h3 mb-3 font-weight-normal col-2" style="margin-left: auto; margin-right: auto">
        <h1 class="h3 mb-3 font-weight-normal col-8" style="margin-left: auto; margin-right: auto">Регистрация</h1>
        <form action="register" method="post" style="margin-left: auto; margin-right: auto"
              autocomplete="off">
            {% csrf_token %}
            <label for="inputEmail" class="sr-only">Имя пользователя</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Имя пользователя" required
                   autofocus
                   name="{{ form.username.html_name }}">
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль"
                   name="{{ form.password1.html_name }}" required>
            <input type="password" id="inputPassword" class="form-control" placeholder="Повторите пароль"
                   name="{{ form.password2.html_name }}" required>
            <button id="btn_login" class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>

        </form>
        <div class="h3 mb-3 font-weight-light col-12">
            {% if form.username.errors %}
                <p>{{ form.username.errors }}</p>
            {% endif %}
            {% if form.password1.errors %}
                <p>{{ form.password1.errors }}</p>
            {% endif %}
            {% if form.password2.errors %}
                <p>{{ form.password2.errors }}</p>
            {% endif %}
        </div>
        <p id='error-mail'></p>
        <footer class="col-6" style="margin-left: auto; margin-right: auto">
            <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </footer>
    </div>
{% endblock %}

